.card-container {
    margin: 4em 4em;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    grid-auto-rows: 1fr;
}
.card {
    margin: 2em 0;
    width: 400px;
    height: 500px;
    border-radius: 24px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .3);;
    transition: .3s;
    position: relative;
}
.sold-out {
    opacity: .7;
    pointer-events: none;
    
}
.sold-out-label {
    position: absolute;
    font-size: 4em;
    color: red;
    border: 18px dashed red;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 48px;
}
.card:not(.sold-out):hover {
    cursor: pointer;
    transform: scale(1.01);
}
.card__image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border: none;
}
.card__content {
    padding: 2em 3em;
    /* margin-bottom: 1.7em; */
}
.card__name {
    font-size: 1.8em;
}
.card__price {
    padding-left: 2em;
    padding-bottom: 1em;
    font-size: 1.3em;
    font-weight: 700;

}
.card__date {
    margin-left: 2em;
    margin-top: .6em;
}
.form-container {
    display: flex;
    justify-content: space-around;
}
/* .form__details {
    display: flex;
    flex-direction: column;
} */
.register-class-form {
    width: 60%;
}
.class-form__image {
    float: left;
    margin-bottom: 4em;
}