.updates-section {
    height: 100vh;
    /* background-image: url(../../assets/paintbrushes.jpg);
    background-size: cover; */
    /* background-color: #FFC4C4; */
    overflow: auto; /* Apparently margins collapse so to avoid this use this*/
}

.updates-container {
    border: 2px solid black;
    height: 90%;
    margin: 2em 5em;
}
.updates {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    margin-top: 4em;
    margin-left: 5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    overflow-y: scroll;

}
.update-card {
    border: 2px solid black;
    overflow-y: scroll;
    margin: 14px;
}