.footer {
    height: 400px;
    margin-bottom: 0;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-content {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
}
.footer-item {
    width: 200px;
    
}
.footer-list {
    list-style-type: none;
}
.footer-list li {
    margin: 10px 14px;
}
.social-media-icons {
    display: flex;
    gap: 1.2em;
}
.social-media-icons a {
    color: inherit;
    font-size: 2em;
}