.hero {
    height: 90vh;
    background-color:rgb(230, 229, 239);
}
.hero__info {
    padding: 2em 5em;
}
.hero__title {
    font-size: 8em;
    margin-bottom: .4em;
}
.hero__subtitle {
    padding-left: .8em;
    font-size: 3em;
}
.hero__cards {
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    margin: 5em 4em;
}
.link {
    text-decoration: none;
    color: inherit;
}
.card__link {
    font-size: 1.6em;
    width: 300px;
    height: 300px;
    padding: 16px 24px;
    transition: .3s;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.6);
    border-radius: 16px;
}
.card__link:hover {
    transform: scale(1.14);
}
.classes {
    /* background-color: rgb(236, 118, 118); */
}
.parties {
    /* background-color: rgb(117, 117, 245); */
}
.framing {
    /* background-color: rgb(117, 245, 190); */
}
.supplies {
    /* background-color: rgb(245, 117, 209); */
}