<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A user is requesting to book a party on <%= @party_request.date.strftime("%B %d, %Y @ %I:%M %p") %></h1>
    
  </body>
</html>