<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have successfully requested to book a party at the art station</h1>
    <p>
      Hello <%= @party_request.name %>, <br/>
      Thank you for booking a class with us.
    </p>
    <br>
    
  </body>
</html>