.class-painting-form-container {
    width: 500px;
    margin: 0 auto;
}
.toggle-form-btn {
    background-color: black;
    color: white;
    width: 200px;
    height: 30px;
    padding: .3em .4em;
    font-size: 1.2em;
    margin: 1em;
}