<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your booking @ The Art Station is confirmed!</h1>
    <p>
      Hello <%= @registration.name %>, <br/>
      Thank you for booking a class with us. Here are the details:
    </p>
    <br>
    <p>Number of Students: <%= @registration.number_of_students %></p>
    <p>Date: <%= @registration.painting_class.date.strftime("%B %d, %Y @ %I:%M %p") %></p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>